user nginx;

worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    sendfile        on;
    tcp_nopush      on;
    keepalive_timeout  65;

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    ##
    # gzip setting
    ##
    gzip on;
    gzip_disable "msie6";
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

    # load balance
    upstream backend{
        server {{groups['backend'][0]}}:{{BACKEND_PORT}} max_fails=3 fail_timeout=30s;
        server {{groups['backend'][1]}}:{{BACKEND_PORT}} max_fails=3 fail_timeout=30s;
        server {{groups['backend'][2]}}:{{BACKEND_PORT}} max_fails=3 fail_timeout=30s;
    }

    server {
        listen      80;
        server_name  localhost;

        location / {
            root   /build;
            index  index.html;
            try_files $uri /index.html;
        }
        
        location ~/api/ {
            proxy_pass http://backend; # proxy, backend will match in upstream
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }
}